---
import Section from "../Section.astro";

import { projects } from "@cv";
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(({ url, description, highlights, name, isActive }) => {
        return (
          <li>
            <article>
              <header>
                <a href={url} target="_blank" title={`Ver el proyecto ${name}`}>
                  <h3>{name}</h3>
                </a>
                <p>{description}</p>
              </header>
              <footer>
                <ul>
                  {highlights.map((highlights) => {
                    return <li>{highlights}</li>;
                  })}
                </ul>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
</style>
